<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle de Producto</title>
</head>
<body>
<h1>Detalle del Producto</h1>

<div>
    <p>ID: <span th:text="${producto.id_producto}"></span></p>
    <p>SKU: <span th:text="${producto.sku}"></span></p>
    <p>Nombre: <span th:text="${producto.nombre}"></span></p>
    <p>Serie: <span th:text="${producto.serie}"></span></p>
    <p>Ubicación: <span th:text="${producto.ubicacion}"></span></p>
    <a th:href="@{/web/producto}">Regresar a todos los productos</a>
</div>

</body>
</html>