<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alta de usuario</title>
</head>
<body>
<h1>Alta de usuario</h1>

<form method="POST"
      th:action="@{/web/usuario/nuevo/usuario}"
      th:object="${usuario}">
    <p>
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" th:field="*{nombre}">
    </p>
    <p>
        <label for="email">Correo</label>
        <input type="text" id="email" th:field="*{email}">
    </p>
    <p>
        <label for="user">Usuario</label>
        <input type="text" id="user" th:field="*{user}">
    </p>
    <p>
        <label for="clave">Clave</label>
        <input type="password" id="clave" th:field="*{clave}">
    </p>

    <button type="submit">Guardar</button>
</form>

</body>
</html>