<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alta de Producto</title>
</head>
<body>
<h1>Alta de producto</h1>

<form method="POST"
      th:action="@{/web/producto/nuevo/producto}"
      th:object="${producto}">
    <p>
        <label for="sku">SKU</label>
        <input type="text" id="sku" th:field="*{sku}">
    </p>
    <p>
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" th:field="*{nombre}">
    </p>
    <p>
        <label for="serie">Serie</label>
        <input type="text" id="serie" th:field="*{serie}">
    </p>
    <p>
        <label for="ubicacion">Ubicación</label>
        <input type="text" id="ubicacion" th:field="*{ubicacion}">
    </p>

    <button type="submit">Guardar</button>
</form>

</body>
</html>