<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
</head>
<body>
<h1>Lista de Usuarios con WebClient</h1>

<div th:each="usuario : ${usuarios}">
    <p th:text="${usuario.id + ' --> ' + usuario.nombre}"></p>
    <!-- enlace para ver detalle -->
    <a th:href="@{/web/usuario/{id}(id=${usuario.id})}">Ver detalle</a>
    <!-- enlace para editar -->
    <a th:href="@{/web/usuario/{id}/editar(id=${usuario.id})}">Editar</a>
    <!-- enlace para eliminar -->
    <a th:href="@{/web/usuario/{id}/eliminar(id=${usuario.id})}">Eliminar</a>
</div>

<!-- enlace para crear nuevo usuario -->
<a th:href="@{/web/usuario/nuevo}">Nuevo Usuario</a>

</body>
</html>